@font-face {
    font-family: "Star Trek Enterprise Future";
    src: url(../Fonts/Star_Trek_Enterprise_Future.ttf) format("truetype");
}
*{
    --jaune : #EABD02;
    --rouge : #E63627;
    --bleu : #4399D4;
    --main-color-bg:#393D3F;
    --text-color:#EBFCFB; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*Affichage des petites boites de profil lors d'une recherche*/

.boite-profil{
    height: 70px;
    width: 500px;
    margin-left: 30px;
    line-height: 40px;
    background-color: #e0e0e0;

    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.abo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d1d1d1;                    /*Bouton d'abonnement à un profil*/
    text-align: center;
    line-height: 50px;
    margin-left: 400px;
    margin-top: -107px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    display: block;
}

.abo:hover{
   background-color: #f0f0f0;
    
}

.pp{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 9px;
}
.big{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

.pseudo{
    display: inline-block;
    margin-bottom: 15px;
    color: black;
    position: relative;
    top: -60px;
    left: 80px;
    font-size: 18px;
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;

}

/*Affichage des messages d'erreur*/
.erreur{
    color: red;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-10%,-30%);
}


/*affichage de la carte de membre dans la zone profil d'un utilisateur*/

.boite-utilisateur{
    position: fixed;
    
    top: 70px;
    right: 20px;
    height: 250px;
    width: 400px;
    transform-style: preserve-3d;
    perspective: 500px;
}
    

.boite-utilisateur .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: 1s;
    backface-visibility: hidden;
}

.boite-utilisateur .face.back{
    transform: rotateY(180deg);
    display: grid;                                                  /*tuto yt*/
    place-items: center;
    

}

.boite-utilisateur div {
    width: 360px;
    text-align: justify;
   
}

.infos{
    margin-left: 20px;
}
.boite-utilisateur p{
    margin-bottom: 10px;
}

.boite-utilisateur:hover .face.front{
    transform: rotateY(180deg);
}

.boite-utilisateur:hover .face.back{
    transform: rotateY(360deg);
}

.username{
    position: relative;
    top: -63px;
    left: 130px;
    font-size: 28px;
}

/*div de blanc*/

.blank{
    height: 70px;
}


/*Affichage des publications */


.boite-publication{
    margin-left: 440px;
    width: 300px;
    height: auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 50px;
    
}

.boite-publication.prof{
    padding-top: 0;
    
}

.boite-publication .suppr{
    position: relative;
    left: 100%;
    top: 20px;
    transform: translate(-90%,-50%);
    color: transparent;
    background-color: transparent;
    cursor: pointer;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
}


.boite-publication:hover .suppr{
    color: #f1f1f1;
    background-color:  #BA1206;
}
.publicateur{
    width: 100%;
    height: 70px;
    
}

.publicateur p{
    position: relative;
    top: -45px;
    left: 70px;
   
}
.publicateur p:last-child{
    position: relative;
    top: -73px;
    left: 210px;
   
}

.img-pub{
    width:300px;
    height: auto;
}
.boite-publication p{
    margin-top: 10px;
    text-align: justify;
}

/*Soumettre une publication*/


.form-sub{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    width: 350px;
    height: auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
}

.img-sub{
    width: 347px;
    text-align: center;
    height: 300px;
    border: 2px solid #393D3F;
    border-top: none;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
}

/*.img-sub input{
    margin-top: 140px;
}*/
.txt-sub{
    border: 0;
    /*border-bottom: 2px solid #393D3F;*/
    background-color: #f0f0f0;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}


/*Affichage de la boite sur le coté dans la page d'accueil*/

aside{
    z-index: -10;
    position: fixed;
    top: 90px;
    width: 900px;
    height: 500px;
    background-color: #000000;
    border-radius: 20px;
    display: flex;

}

aside .generique{
    width: 390px;
}

.boite-bitoniaux{
    height: 400px;
    background-color: transparent;
    width: 90px;
    margin-left: 390px;
    margin-top: 50px;
    display: grid;
}

.bitoniaux{
    background-color: red;
    margin-top: 1.25px;
    margin-bottom: 1.25px;

}

.bitoniaux:first-child{
    background-color: #787878;
}
.bitoniaux:nth-child(2){
    background-color: #7d8689;
}
.bitoniaux:nth-child(3){
    background-color: #9b9b9b;
}
.bitoniaux:nth-child(4){
    background-color: #bcbcba;
}
.bitoniaux:nth-child(5){
    background-color: #d4d4d4;
}
.bitoniaux:nth-child(6){
    background-color: #aabac0;
}
.bitoniaux:nth-child(7){
    background-color: #94989e;
}
.bitoniaux:nth-child(8){
    background-color: #d3b69e;
}
.bitoniaux:nth-child(9){
    background-color: #c03736;
}



aside p{
    font-size: 20px;
   text-align: justify;
   margin: 30px;
   
    color: #f0f0f0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
}


aside h1{
    font-size: 55px;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #f0f0f0;
    
    font-family: "Star Trek Enterprise Future";
    
}

aside h3{
    font-size: 30px;
   margin: 30px;
   margin-top: 30px;
    margin-bottom: 30px;
   text-align: center;
    color: #f0f0f0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.gauche{
    
    left: 30px;
}

.boite-diode{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: auto;
    margin-left: 13px;

}

.boite-diode:nth-child(4) .diode:last-child{
   margin-left: 154px;
   background-color: #d3d205;
   border-bottom: 2px solid #d8d384 ;
    border-left: 2px solid #d8d384 ;
    box-shadow: 0 4px 0 #d3ce21;

}

.boite-diode:nth-child(4) .diode:nth-child(2){
  
    background-color: #72aaac;
    border-bottom: 2px solid #a0d0d2 ;
    border-left: 2px solid #a0d0d2 ;
    box-shadow: 0 4px 0 #73a7bc;
 
 }
 .boite-diode:nth-child(4) .diode:nth-child(1){
  
    background-color: #574702;
    border-bottom: 2px solid #a69a5c ;
    border-left: 2px solid #a69a5c ;
    box-shadow: 0 4px 0 #73652a;
 
 }

 .boite-diode:nth-child(2) .diode:nth-child(1){
  
    background-color: #cd9213;
    border-bottom: 2px solid #e3b745 ;
    border-left: 2px solid #e3b745 ;
    box-shadow: 0 4px 0 #c88424;
 
 }
 .boite-diode:nth-child(2) .diode:nth-child(2){
  
    background-color: #619802;
    border-bottom: 2px solid #a2c050 ;
    border-left: 2px solid #a2c050 ;
    box-shadow: 0 4px 0 #6c9924;
 
 }


.diode{
    height: 10px;
    width: 50px;
    background-color: green;
    margin-left: 20px;
    border-radius: 2px;
}







/**Communicateur*/

.communicator{
position: fixed;
right: 40px;
top:150px;
width:250px;
height: auto;
border-radius: 20px;
cursor: pointer;
}


/**boite des abonnements*/

.cote{
    position: fixed;
    
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 15px;
    width: 350px;
    border:2px solid white;
    text-align: center;
    

    
}


.cote.suivi{
    top: 70px;
    left:20px;
    height: 200px;
}

.cote.suivant{
    top: 310px;
    left:20px;
    height: 200px;

}
.cote .boite-profil{
    margin: 0;
    width: 350px;
    border-radius: 0;
    text-align: left;
}


/*Bouton abonnement dans la page profil*/

.test{
    height: 200px;
    width: 200px;
    background-color: transparent;
    position: fixed;
    bottom: 100px;
    right: 40px;
}


.test .bouton{
        width: auto;
        margin: 0;
        position:initial;
        margin: 20px;
        
    }

.modifier .aside{
    background-color: blue;
}
    






