*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 100px;
    background: rgb(254,211,17);
    background: linear-gradient(90deg, rgba(254,211,17,1) 19%, rgba(92,126,246,1) 40%, rgba(255,30,0,1) 75%);     
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    text-align: center;
    margin: 0;
}

p{
    color: #f1f1f1;
    text-align: center;
    margin: 0;
}

.logo{
    position: absolute;
    top: 35%;
    left: 10%;
}

.connexion{
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-10%,-50%);
    display: flex;
    flex-direction: column;
    padding: 30px 30px 10px 30px;
    border-radius: 5px;
    width: 20%;
    height:auto;
}

.bouton a{
    color: #f1f1f1;
}

.input{
    background-color: transparent;
    border: 0;
    border: 2px solid rgb(33,33,33);
    margin: 10px auto;
    padding: 14px 10px;
    outline: none;
    border-radius: 24px;
    text-align: center;
    width: 70%;
    transition: 0.25s;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
}

.input:focus{
    width: 80%;
    border-color: rgba(92,126,246,1);
}


.mdp{
    margin-bottom: 20px;
    margin: auto;
    text-decoration: none;
    color: rgb(33,33,33);
    font-size: small;
    text-align: center;
    border-bottom: 2px solid rgb(33,33,33);
    padding-bottom: 20px;
    display: block;
}

.mdp:hover{
    text-decoration: underline;
}



.bouton a:hover{
    color: rgb(33,33,33);

}

.bouton{
    font-size: 14px;
    background-color: rgb(33,33,33);
    color: #f1f1f1;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    /*margin: auto;*/
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid black;
    width: 115px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: block;   
}

.bouton:last-child{
    width: 115px;
    margin-top: 20px;
}

.bouton:hover{
    background: linear-gradient(90deg, rgba(254,211,17,1) 19%, rgba(92,126,246,1) 40%, rgba(255,30,0,1) 75%);     

    color: rgb(33,33,33);
}


.erreur{
    color:red;
    position: absolute;
    top: 17%;
    right:14.5%;
}